*.md
**/.git*
*.db
*.bak
*~
potage_data
!potage_data/ta_IWGSC_MIPSv2.0_HCS_HUMAN_READABLE_DESCS_2013Nov28_no_header_no_brackets.txt
!potage_data/HCS_2013_annotations_rice.txt
!potage_data/Traes_to_CSS.map
!potage_data/pop_*_genes.tsv
!potage_data/FPKMs/reordered/popseqed_genes_on_with_header2016.fpkms
!potage_data/IWGSC_CSS_POPSEQ_v2.tsv
!potage_data/FPKMs/reordered/unordered_genes_with_header2016.fpkms
!potage_data/FPKMs/reordered/fpkm_data_settings2016.txt
